<div><img src="https://raw.githubusercontent.com/natep514/Homework/main/Images/savvy%20coders%20logo.jpg" style="height:35px;object-fit:cover;"></div>

___
# 3.3 Python Homework
___
<div><img src="https://raw.githubusercontent.com/natep514/Homework/main/Images/giphy.gif" style="height:px;object-fit:cover;"></div>

___
## Flow Control Methods
___

In [1]:
'''Create an if statement: if 'age' is greater than or 
# equal to 25, print "Renting a car is more affordable", 
# however if 'age' is less than 25, print "Renting a car is very expensive."'''

age = 17
if age >= 25 :
    print("Renting a car is more affortable")
else:
    print("Renting a car is very expensive")

Renting a car is very expensive

In [1]:
''' Create and chain an if-else statement: if 'age' is 
greater than or equal to 25, print "Renting a car is more 
affordable." If 'age' is less than 25 but greater than or 
equal to 18, print "Renting a car is very expensive." 
Finally, if age is less than 18, print "You cannot legally rent a car."'''

age = 19
if age >= 25 :
    print("Renting a car is more affortable")
elif age > 17 :
    print("Renting a car is very expensive")
else :
    print("You cannot legally rent a car.")

Renting a car is very expensive

In [24]:
'''Loop over the following string to (1) count all the characters 
 in the string and (2) print out all the vowels -- "The quick brown 
 fox jumps over the lazy dog"'''

alphabet = "The quick brown fox jumps over the lazy dog"
sum = 0
for char in alphabet:
    sum = sum + 1
print(sum)
# isn't print(len(alphabet)) the same thing?

for vowels in alphabet:
    if vowels in "aeiou":
        print(vowels)

43
e
u
i
o
o
u
o
e
e
a
o

In [18]:
'''Write a nested loop that prints out every piece of clothing from the couture list, in every fashionable color 
from the panettone set: couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] 
and panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}'''

couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"]
panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

for x in panettone:
    for y in couture:
        print(x,y)

gunmetal blue trousers
gunmetal blue blouse
gunmetal blue bandana
gunmetal blue cumber band
gunmetal blue blazer
gunmetal blue vest
gunmetal blue french beret
gunmetal blue scarf
gunmetal blue stole
aqua trousers
aqua blouse
aqua bandana
aqua cumber band
aqua blazer
aqua vest
aqua french beret
aqua scarf
aqua stole
Dark Sapphire trousers
Dark Sapphire blouse
Dark Sapphire bandana
Dark Sapphire cumber band
Dark Sapphire blazer
Dark Sapphire vest
Dark Sapphire french beret
Dark Sapphire scarf
Dark Sapphire stole
maple trousers
maple blouse
maple bandana
maple cumber band
maple blazer
maple vest
maple french beret
maple scarf
maple stole
auburn trousers
auburn blouse
auburn bandana
auburn cumber band
auburn blazer
auburn vest
auburn french beret
auburn scarf
auburn stole
burnt sienna trousers
burnt sienna blouse
burnt sienna bandana
burnt sienna cumber band
burnt sienna blazer
burnt sienna vest
burnt sienna french beret
burnt sienna scarf
burnt sienna stole
fuchsia trousers
fuchsia blouse
fuchsia bandana
fuchsia cumber band
fuchsia blazer
fuchsia vest
fuchsia french beret
fuchsia scarf
fuchsia stole
cerise trousers
cerise blouse
cerise bandana
cerise cumber band
cerise blazer
cerise vest
cerise french beret
cerise scarf
cerise stole

In [19]:
# Use range as a loop to calculate the sum of all the numbers from 1 to 100

x = 0
for i in range(1, 101):
    x = x + i

print(x)

5050

<div><img src="https://raw.githubusercontent.com/natep514/Homework/main/Images/giphy.webp" style="height:px;object-fit:cover;"></div>

In [20]:
# Print the second item in this fruits list. ["apple", "banana", "cherry"]

fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

In [21]:
# Change the value from "apple" to "kiwi", in the fruits list. ["apple", "banana", "cherry"]

fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

In [22]:
# Use the append method to add "orange" to the fruits list. ["apple", "banana", "cherry"]

fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [23]:
# Use the insert method to add "lemon" as the second item in the fruits list. ["apple", "banana", "cherry"]

fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [24]:
# Use the remove method to remove "banana" from the fruits list. ["apple", "banana", "cherry"]

fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [25]:
# Use negative indexing to print the 3rd and 2nd to last items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[-3:-1])

['kiwi', 'melon']

In [26]:
# Use a range of indexes to print the third, fourth, and fifth item in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

In [27]:
# Use the correct syntax to print the number of items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
nof = len(fruits)
print ("Number of fruit in the list", nof)

Number of fruit in the list 7

In [3]:
# Use the correct syntax to sort this list in reverse order ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits.sort(reverse=True)
print(fruits)

['orange', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

___
<div><img src="https://raw.githubusercontent.com/natep514/Homework/main/Images/savvy%20coders%20logo.jpg" style="height:35px;object-fit:cover;"></div>